{
    "ignore": [
        "/__mocks__/",
        "/__tests__/"
    ],
    "plugins": [
        "@babel/plugin-proposal-optional-chaining"
    ],
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": 14
                }
            }
        ],
        "@babel/preset-typescript"
    ]
}
